name: Deploy Jekyll Blog

on:
  push:
    branches: [main]
    paths:
      - 'blog/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          cache: 'bundler'
          cache-dependency-path: 'blog/Gemfile'
          
      - name: Install dependencies
        run: |
          cd blog
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
          
      - name: Build site
        run: |
          cd blog
          bundle exec jekyll build --trace --verbose
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./blog/_site
          destination_dir: ./blog
          cname: parishodana.xyz
